@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    overflow-x: hidden;
}


.gradient-bg {
    background: rgb(94, 4, 219);
    background: linear-gradient(90deg, rgba(94, 4, 219, 1) 14%, rgba(193, 72, 3, 1) 82%, rgba(224, 45, 4, 1) 100%);
}

.gradient-text {
    background: rgb(94,4,219);
    background: linear-gradient(90deg, rgba(94,4,219,1) 14%, rgba(193,72,3,1) 94%, rgba(224,45,4,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.gradient-text-reversed {
    background: rgb(94,4,219);
    background: linear-gradient(-90deg, rgba(94,4,219,1) 14%, rgba(193,72,3,1) 94%, rgba(224,45,4,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.gradient-bg-light {
    background: linear-gradient(0deg, rgba(94,4,219,0.15) 14%, rgba(193,72,3,0.15) 94%, rgba(224,45,4,0.15) 100%);
}

.gradient-bg-discover {
    background: rgb(94,4,219);
    background: linear-gradient(180deg, rgba(94,4,219,1) 0%, rgba(193,72,3,1) 16%, rgba(251,251,251,1) 37%);
}

.scrollbar-hider  {
    /*overflow-x: auto; !* Enable horizontal scrolling *!*/
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.scrollbar-hider ::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}


@layer base {
  :root {
        --radius: 0.5rem;
    }
}